In [19]:
import pandas as pd
encoding='shift-jis'

In [20]:
df=pd.DataFrame({'ID':['A','A','A','B','B'],'item':['シャツ','ズボン','スカート','ズボン','スカート'],'off':[0.3,0.2,0.5,0.1,0.4],'id_count':[0,0,0,0,0]})
df

  ID  id_count  item  off
0  A         0   シャツ  0.3
1  A         0   ズボン  0.2
2  A         0  スカート  0.5
3  B         0   ズボン  0.1
4  B         0  スカート  0.4

In [21]:
for i in range(len(df['ID'])):
    if i==0:
        df.iloc[i,1]=1
    elif df.iloc[i,0]==df.iloc[i-1,0]:
        df.iloc[i,1]=df.iloc[i-1,1]+1
    else:
        df.iloc[i,1]=1

df1

  ID  id_count  item  off
0  A         1   シャツ  0.3
1  A         2   ズボン  0.2
2  A         3  スカート  0.5
3  B         1   ズボン  0.1
4  B         2  スカート  0.4