In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([['A', 111, 'nn'], ['A', 123, 'mm'], ['A', 211, 'op'],
  ['B', 121, 'nm'], ['B', 333, 'nn'],['C',232,'bb']], columns=['ID','number','item'])
df

  ID  number item
0  A     111   nn
1  A     123   mm
2  A     211   op
3  B     121   nm
4  B     333   nn
5  C     232   bb

In [ ]:
#完成形

df["tmpindex"]=df.index
df.tmpindex=df.groupby('ID').tmpindex.rank(ascending=True)
df["numberindex"]=df.tmpindex.apply(lambda x: "number{}".format(int(x)))
df["itemindex"]=df.tmpindex.apply(lambda x: "item{}".format(int(x)))
df_pv=pd.concat(
                [
                 df.pivot(index="ID", columns="numberindex",values="number"),
                 df.pivot(index="ID", columns="itemindex",values="item")
                 ],
                axis=1)
df_pv["ID"]=df_pv.index
df_pv.reset_index(drop=True).ix[:,[-1]+list(range(df_pv.shape[1]-1))]

In [ ]:
df = pd.DataFrame([['A', 111, 'nn'], ['A', 123, 'mm'], ['A', 211, 'op'],
  ['B', 121, 'nm'], ['B', 333, 'nn'],['C',232,'bb']], columns=['ID','number','item'])
df

In [6]:
#dfのindexをそのままコピーして、「tmpindex」というカラムに追加

df["tmpindex"]=df.index

#追加したカラムの値を、「ID」でグループにして昇順にランキング
#例えば、Aなら「1,2,3」をランキング→「1,2,3」、Bなら「2,3」でランキング→「1,2」
#df['tmpindex']=df.groupby('ID').tmpindex.rank(ascending=True)　でも書き方は同じ

df.tmpindex=df.groupby('ID').tmpindex.rank(ascending=True)
df.tmpindex

0    1.0
1    2.0
2    3.0
3    1.0
4    2.0
5    1.0
Name: tmpindex, dtype: float64

In [8]:
#新しいカラム「numberindex」を追加し、”number”という文字の後ろに「tmpindex」の値を整数にして追加

df["numberindex"]=df.tmpindex.apply(lambda x: "number{}".format(int(x)))

#新しいカラム「itemindex」を追加し、”item”という文字の後ろに「tmpindex」の値を整数にして追加

df["itemindex"]=df.tmpindex.apply(lambda x: "item{}".format(int(x)))

df

  ID  number item  tmpindex numberindex itemindex
0  A     111   nn       1.0     number1     item1
1  A     123   mm       2.0     number2     item2
2  A     211   op       3.0     number3     item3
3  B     121   nm       1.0     number1     item1
4  B     333   nn       2.0     number2     item2
5  C     232   bb       1.0     number1     item1

In [9]:
#dfを「numberindex」でピボットしたものと、「itemindex」でピボットしたものを、横につなげて、新しいdataframe「df_pv」をつくる

df_pv=pd.concat(
                [
                 df.pivot(index="ID", columns="numberindex",values="number"),
                 df.pivot(index="ID", columns="itemindex",values="item")
                 ],
                axis=1)

df_pv

    number1  number2  number3 item1 item2 item3
ID
A     111.0    123.0    211.0    nn    mm    op
B     121.0    333.0      NaN    nm    nn  None
C     232.0      NaN      NaN    bb  None  None

In [11]:
#df_pvに新しいカラム「ID」を追加、df_pvのインデックスの値（A,B,C）で

df_pv["ID"]=df_pv.index
df_pv

    number1  number2  number3 item1 item2 item3 ID
ID
A     111.0    123.0    211.0    nn    mm    op  A
B     121.0    333.0      NaN    nm    nn  None  B
C     232.0      NaN      NaN    bb  None  None  C

In [17]:
#整形　インデックスを削除して並べ替え　行全てと最後の1列、その1列をひいた6列を順番に（カラムを数字のリストで指定している）下の3つのセルを参照

df_pv.reset_index(drop=True).ix[:,[-1]+list(range(df_pv.shape[1]-1))]

  ID  number1  number2  number3 item1 item2 item3
0  A    111.0    123.0    211.0    nn    mm    op
1  B    121.0    333.0      NaN    nm    nn  None
2  C    232.0      NaN      NaN    bb  None  None

In [14]:
#行全てと、後ろから1列（-はうしろから、の意味）
df_pv.ix[:,[-1]]

   ID
ID
A   A
B   B
C   C

In [15]:
list(range(df_pv.shape[1]-1))

[0, 1, 2, 3, 4, 5]

In [16]:
df_pv.shape[1]

7